$main-container-padding: 50px;
$dashboard-margin: 50px;
$color-primary: #2e2e2e;
$color-secondary: #75e1c0;
$color-tertiary: #9c9fad;
$nav-element-size: 30px;
$nav-padding: 15px;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("//cdn.quilljs.com/1.2.6/quill.snow.css");

*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: $color-primary;
  // overflow-x: hidden;
}

body {
  background-color: #f6f8f9;
}

// .main-container {
//   margin: $dashboard-margin auto;
//   padding: $main-container-padding;
//   width: 50%;
//   min-width: 400px;
//   // min-height: 150px;
//   // height: calc(65vh - #{2 * $main-container-padding});
//   // height: 65vh;
//   // position: relative;
//   // display: block;
//   // box-sizing: border-box;
//   // position: relative;
//   // position: absolute;
//   // left: 50%;
//   // transform: translateX(-50%);
//   background-color: white;
//   box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
//   border-radius: 24px;
//   overflow-y: auto;
// }

.overview-screen {
  margin: $dashboard-margin auto;
  padding: $main-container-padding;
  width: 65%;
  min-width: 400px;
  height: calc(
    75vh - #{2 * $main-container-padding} - #{2 * $nav-padding} - #{$nav-element-size}
  );
  // min-height: 150px;
  // height: calc(65vh - #{2 * $main-container-padding});
  // height: 65vh;
  // position: relative;
  // display: block;
  // box-sizing: border-box;
  // position: relative;
  // position: absolute;
  // left: 50%;
  // transform: translateX(-50%);
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  overflow-y: auto;
}

.notes-screen {
  margin: $dashboard-margin auto;
  padding: $main-container-padding;
  width: 50%;
  min-width: 400px;
  // height: calc(75vh - #{2 * $main-container-padding});
  // min-height: 150px;
  // height: calc(65vh - #{2 * $main-container-padding});
  // height: 65vh;
  // position: relative;
  // display: block;
  // box-sizing: border-box;
  // position: relative;
  // position: absolute;
  // left: 50%;
  // transform: translateX(-50%);
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  overflow-y: auto;
}

// .notes-screen {
//   background-color: yellow;
//   width: 100%;
//   height: 100%;
//   // padding: 20px;
//   display: flex;
//   flex-direction: column;
//   // justify-content: space-evenly;
// }

.notes-screen .ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}

.quill {
  // overflow-x: visible !important;
  // overflow: scroll;
  // overflow: hidden;
  // flex: 1;
}

.notes-screen .ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  // padding: 20px;
}

.ql-editor {
  // overflow-y: scroll;
  // height: 100%;
  // min-height: 150px;
  height: 35vh;
}

.ql-header.ql-picker {
  // overflow: visible;
}

.ql-header.ql-picker.ql-expanded {
  // overflow: visible;
}

.app-btn {
  // transition: all 2s ease-in-out;
  &--add {
    margin-left: 40px;
    &:hover {
      cursor: pointer;
      circle {
        fill: $color-primary;
      }
      line {
        stroke: white;
      }
    }
  }
  &--back {
    // display: block;
    margin-bottom: 20px;
    transition: all 20s ease-in-out;
    circle {
      fill: white;
      stroke: $color-primary;
    }
    path {
      fill: $color-primary;
    }
    &:hover {
      cursor: pointer;
      circle {
        fill: $color-primary;
        stroke: white;
      }
      path {
        fill: white;
      }
    }
  }
}

.app-input {
  &__title {
    // height: 50px;
    box-sizing: border-box;
    border: none;
    // padding: 5px;
    font-size: 2rem;
    margin-bottom: 20px;
    width: 100%;
    text-overflow: ellipsis;
    // width: calc(100% - 300px);
    // background-color: #29487d;
    // color: white;
    // padding-left: 50px;
  }
}

.modified {
  margin-bottom: 20px;
  font-weight: 400;
  opacity: 0.5;
  font-size: 0.75rem;
}

.new-note {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 40px;
  // background-color: yellow;
  // flex: 1;
  &__h1 {
    font-size: 1rem;
    flex-shrink: 0;
  }
  // &__btn-add {
  //   // transform: translateY(-50%);
  //   flex-shrink: 0;
  //   margin-left: 40px;
  //   &:hover {
  //     cursor: pointer;
  //     circle {
  //       fill: $color-primary;
  //     }
  //     line {
  //       stroke: white;
  //     }
  //   }
  // }
  &__colours {
    // flex-shrink: 0;
    // display: block;
    // margin-left: 40px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 40px;
    // justify-content: center;
    // align-items: center;
    // opacity: 1;
    &__circle {
      opacity: 0;
      transition: opacity 0.25s ease-in-out;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-left: 30px;
      margin-bottom: 10px;
      margin-top: 10px;
      &:hover {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 2px solid #555967;
        // cursor: pointer;
      }
      &--visible {
        opacity: 1 !important;
        // &:hover {
        //   cursor: pointer;
        // }
        // &:hover {
        //   box-sizing: border-box;
        //   -moz-box-sizing: border-box;
        //   -webkit-box-sizing: border-box;
        //   border: 2px solid #555967;
        //   cursor: pointer;
        // }
      }
      &--orange {
        background-color: #ffdbcd;
        margin-left: 0;
      }
      &--beige {
        background-color: #fff5e8;
      }
      &--pink {
        background-color: #ffe4ed;
      }
      &--purple {
        background-color: #f4e4fa;
      }
      &--blue {
        background-color: #ccf4f5;
      }
      &--green {
        background-color: #e5f9ea;
      }
      &--yellow {
        background-color: #fffdc8;
      }
    }
  }
}

.visible {
  opacity: 1 !important;
  // background-color: yellow;
}

.notes {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  list-style: none;
  // background-color: yellow;
  // height: calc(40vh - #{2 * $main-container-padding});
  // max-height: 250px;
  // overflow-y: auto;

  &__note {
    background-color: #ffdbcd;
    height: 150px;
    border-radius: 20px;
    // padding: 4px;
    padding: 30px;
    transition: background-color 0.1s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: #f0f0f0 !important;
      // color: red !important;
    }

    &__container {
      // background-color: yellow;
      // border-radius: 20px;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      &__title {
        font-size: 1.25rem;
        font-weight: 500;
        // height: 120px;
        // width: 100%;
        // max-height: 120px;
        // background-color: pink;
        // display: inline-block;
        overflow: hidden;
        // text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        // height: 10px;
      }

      &__date {
        font-weight: 400;
        font-size: 0.75rem;
        opacity: 0.5;
        position: absolute;
        bottom: 0;
      }
    }
  }
}
.profile {
  display: flex;
  flex-direction: row;
  &__picture {
    border-radius: 50%;
    background-color: #da4f7a;

    &__initial {
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      color: white;
      text-align: center;
      line-height: $nav-element-size;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
    }
  }

  &__logout {
    margin-left: 10px;
    padding: 4px;

    &:hover {
      cursor: pointer;
    }
  }
}

.logo,
.github,
.profile__picture {
  width: $nav-element-size;
  height: $nav-element-size;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.github {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

nav {
  // height: 60px;
  position: relative;
  width: calc(100% - #{$nav-padding} * 2);
  padding: $nav-padding;
  background-color: #555967;
  // position: fixed;
  // bottom: 0;
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .overview-screen,
  .notes-screen {
    width: calc(100vw - 2 * #{$main-container-padding});
    min-width: 200px;
    margin: 0;
    // max-height: 350px;
    height: calc(
      100vh - #{2 * $nav-padding} - #{$nav-element-size} - #{2 *
        $main-container-padding}
    );
    // height: calc(100vh);
    // height: calc(100vh - #{2 * $nav-padding});
    // height: 100vh;
    //     $nav-element-size: 30px;
    // $nav-padding: 15px;
    // min-height: 100vh;
    // top: 0;
    // left: 50%;
    // transform: translateX(-50%) translateY(0%);
  }

  .new-note {
    &__colours {
      &__circle {
        width: 20px;
        height: 20px;
        margin-left: 20px;
        &--orange {
          margin-left: 0;
        }
      }
    }
  }
}

@media only screen and (max-height: 500px) {
  .notes {
    // height: 100px;
  }
}
