$container-padding: 50px;
$login-margin: 45px;
$centre-margin: 50px;
$color-primary: #2e2e2e;
$color-secondary: #75e1c0;
$color-tertiary: #9c9fad;
$fade-duration: 0.4s;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: $color-primary;
  // overflow-x: hidden;
  animation: fadeIn ease-in-out $fade-duration;
  -webkit-animation: fadeIn ease-in-out $fade-duration;
  -moz-animation: fadeIn ease-in-out $fade-duration;
  -o-animation: fadeIn ease-in-out $fade-duration;
  -ms-animation: fadeIn ease-in-out $fade-duration;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  background-color: #f6f8f9;
  overflow-x: hidden;
  // transition: all 0.2s ease-in-out;
}

.container {
  padding: $container-padding;
  // width: 25%;
  // min-width: 400px;
  // min-height: 450px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
}

.logo-text {
  // width: 86px;
  // height: 54px;
  width: 35px;
  height: 35px;
  margin: 0;
  margin-bottom: $login-margin;
  // margin: 0 auto !important;
  // background-color: yellow;
  margin-left: 50%;
  transform: translateX(-50%);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  margin-bottom: $login-margin;
  border-radius: 100px;
  border: none;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 1rem;
  font-weight: medium;
  stroke: white;
  width: 100%;

  transition: background-color 0.2s ease-in-out;

  &--demo {
    width: 100%;
    background-color: $color-secondary;

    &:hover {
      cursor: pointer;
      background-color: #5bc0a2;
    }
  }

  &--log-in {
    width: 100%;
    background-color: $color-tertiary;

    &:hover {
      cursor: pointer;
      background-color: #848798;
    }
  }

  &--sign-up {
    width: 100%;
    background-color: $color-secondary;

    &:hover {
      cursor: pointer;
      background-color: #5bc0a2;
    }
  }
}

.separator-row {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: $login-margin;
  // width: 200px;

  &__horizontal-line {
    border-top: 1px solid #c7ccce;
    flex: 1 1 auto;
    margin-top: 8px;
    min-width: 1px;
    padding-top: 8px;
  }

  &__label {
    color: #b0b8be !important;
    margin: 0 8px;
  }
}

form {
  overflow: visible;
}

.input {
  display: block;
  margin-bottom: $login-margin;
  width: 100%;
  padding: 10px;
  border-radius: 200px;
  box-sizing: border-box;
  // border-width: 1px !important;
  // border-color: $color-primary;
  border: 1px solid rgba(47, 47, 47, 0.5);
  transition: all 0.2s ease-in-out;

  // &--password-confirmation {
  //   margin-bottom: calc(#{$login-margin} / 2);
  // }

  &:focus {
    outline: none !important;
    border: 1px solid $color-secondary;
    box-shadow: 0 0 10px #9cddca;
  }
}

.h1-form {
  margin-bottom: $login-margin;
  font-weight: 500;
  font-size: 1.75rem;
}

.h2-form {
  margin-bottom: $login-margin;
  font-weight: 500;
  font-size: 1rem;
}

.h4-form {
  // margin-bottom: calc(#{$login-margin} / 2);
  margin-bottom: $login-margin;
  opacity: 0.5;
  font-weight: 500;
  font-size: 0.8rem;
  text-align: center;
  animation: none !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
}

.error-text {
  margin-bottom: calc(#{$login-margin} / 2);
  margin-bottom: $login-margin;
  color: red;
  opacity: 0.5;
  font-weight: 400;
  font-size: 0.8rem;
  text-align: center;
}

.h5-form {
  opacity: 0.5;
  font-weight: 400;
  text-align: center;
  font-size: 0.8rem;
  animation: none !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  &__link {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 600px) {
  $login-margin: 35px;
  *,
  html,
  body {
    // font-size: 16px;
  }
  .container {
    // border-radius: 50px;
    width: calc(100vw - 2 * #{$container-padding});
    // min-width: 200px;
    margin: 0;
    height: calc(100% - 2 * #{$container-padding});
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(0%);
  }

  .logo-text {
    width: calc(35px * 0.9);
    height: calc(35px * 0.9);
  }

  input,
  input::-webkit-input-placeholder {
    font-size: 0.8rem;
    // line-height: 3;
  }

  .input,
  .btn,
  .logo-text,
  .h1-form,
  .h4-form,
  .h5-form {
    margin-bottom: $login-margin;
  }
}

@media only screen and (max-height: 750px) {
  .container {
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(0%);
  }
}
